.html, body {
    margin:0;
    padding:0;
    width:100%;
}

.header{
    position:fixed;
    top:0;
    width:100%;
    padding:0;
    height:140px;
    background-color:bisque;
    text-align:center;
    z-index:1000;

}

.logo {
    height:130px;
    float:left;
    margin-left:20px;
}